In [18]:
import sqlite3

# Lager en databsefil
con = sqlite3.connect("demo.db")

# Oppretter en tilkobling til databasen
cur = con.cursor()

# Lager en ny tabell
cur.execute("CREATE TABLE person(p_nr integer, navn text, yrke text, myndig boolean)")

# Legger inn en rad med data
cur.execute("INSERT INTO person VALUES (1, 'Tom Jarle', 'lærer', 'TRUE')")
cur.execute("INSERT INTO person VALUES (2, 'Eva', 'lærer', 'TRUE')")

# Save (commit) the changes
con.commit()

# Skriver ut alle datya
for row in cur.execute("SELECT * FROM person"):
        print(row)

# Lukker forbindelsen
con.close()

(1, 'Tom Jarle', 'lærer', 'TRUE')
(2, 'Eva', 'lærer', 'TRUE')